* {
    box-sizing:border-box;
    cursor: none;
}

@font-face { font-family: keyboard; src: url('font/keyboard/Keyboard.ttf');}

body {
    margin:0;
    width: 100vw;
    height: 100vh;
    background-image: url("img/Minesweeper_square.svg");
    background-size: 20px 20px;
}

h1 {
    width: 100vw;
    position:absolute;
    bottom: 0px;
    color:rgb(145, 145, 145);
    font-size: 30px;
    text-align: center;
    line-height: 80px; 
    font-family: keyboard;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -5;
}

/* #the {
    top: 15%;
    left: 15%;
}

#world {
    top: 25%;
    left: 25%;
}

#at {
    top: 70%;
    left: 75%;
}

#your {
    top: 70%;
    left: 75%;
}

#fingertips {
    top: 85%;
    left: 65%;
} */

small {
    position: absolute;
    right: 50px;
    top: 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(51, 51, 223);    
}

button {
    font-size: 15px;
    /* color: blue; */
    font-family: keyboard;
    animation: y 15s linear infinite alternate;
    background-color:rgba(255, 255, 255, 0);
    border: none;
}

.x {
    /* position: absolute;
    top:75%;
    right:5%; */
    width: 20px;
    height: 20px;
    animation: x 25s linear infinite alternate;
    z-index: 10;
}
  
    @keyframes x {
    100% {
      transform: translateX(calc(100vw - 35px));
    }
    }

    @keyframes y {
    100% {
      transform: translateY(calc(100vh - 35px));
    }
    }

.destination {
    mix-blend-mode: darken;
    position:absolute;
    opacity: 0;
    transition: opacity .5s;
    z-index: -3;
    width: 500px;
}

#durham {
    top: 180px;
    left: 280px;
}

h3 {
    position:relative;
    font-size: 25px;
    transition: opacity 2s;
    font-family: sans-serif;
    left:10px;
    top:-20px;
}

a {
    color: black;
    text-decoration: none;
}

.ins {
    position:fixed;
    mix-blend-mode: darken;
    right: 300px;
    top: 75px;
    transform: rotate(-7deg);
}

.fingers {
    position: absolute;
    mix-blend-mode: darken;
    top: 0;
    left: 50%;
    transform: translate(-45%, -7%);
    /* margin-top: 5px; */
}

.globe {
    position: absolute;
    margin-top: 200px;
    height: 400px;
    width: 400px;
    left: 50%;
    transform: translate(-45%, 0);
    z-index: -1;   
  }

.map {
    position: absolute;
    height: inherit;
    width: inherit;
    background: url("img/world-map.jpeg");
    border-radius: 50%;
    box-shadow: inset 80px 0px 65px 3px rgba(0, 0, 0, 0.5);
    background-size: 800px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(-10deg);
  }

@keyframes rotate {
    from{ background-position: 0px;}
    to{ background-position: 800px;}
  }

.map.one {
    animation-name: one;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes one {
    from{ background-position: unset;}
    to{ background-position: 40px;}
  }

.map.two {
    animation-name: two;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes two {
    from{ background-position: unset;}
    to{ background-position: 550px;}
  }

.map.three {
    animation-name: three;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes three {
    from{ background-position: unset;}
    to{ background-position: 405px;}
  }

.map.four {
    animation-name: four;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes four {
    from{ background-position: unset;}
    to{ background-position: 520px;}
  }

.map.five {
    animation-name: five;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes five {
    from{ background-position: unset;}
    to{ background-position: 565px;}
  }